{% extends "base.html" %}

{% block title %}Booking for {{ competition['name'] }}{% endblock %}

{% block header %}
    {{ competition['name'] }}
{% endblock %}

{% set show_logout = True %}

{% block content %}
    <p>Places available: {{ competition['numberOfPlaces'] }}</p>
    <form action="{{ url_for('purchasePlaces') }}" method="post" class="my-4">
        <input type="hidden" name="club" value="{{ club['name'] }}">
        <input type="hidden" name="competition" value="{{ competition['name'] }}">
        <div class="form-group">
            <label for="places">How many places?</label>
            <input type="number" name="places" id="places" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Book</button>
    </form>
{% endblock %}